---
import '../styles/hero-toolkit.css';
---

<section class="faqhero-container">
  <div class="faqhero-content">
    <div class="faqhero-icon hidden-initial" aria-hidden="true">
      <i class="ph ph-calculator"></i>
    </div>
    <h2 class="faqhero-title hidden-initial">
      Calculadora de Traspasos
    </h2>
  </div>
</section>