---
import '../styles/calltoaction-toolkit.css';
---

<section class="calltoaction-toolkit-container">
  <div class="calltoaction-toolkit-content">
    <h2 class="calltoaction-toolkit-title hidden-initial">
      ¿Listo para un servicio transparente?
    </h2>
    <p class="calltoaction-toolkit-copy hidden-initial">
      Nuestro equipo de abogados tributaristas expertos está listo para ofrecerle una asesoría personalizada y proactiva. Contáctenos hoy para asegurar un manejo correcto de tu situación.
    </p>
    <a href="#contacto" class="calltoaction-toolkit-button hidden-initial" aria-label="Quiero asesoría personalizada">
      Agendar Cita
    </a>
  </div>
</section>