---
import '../styles/hero-toolkit.css';
---
<section class="faqhero-container">
  <div class="faqhero-content">
    <div class="faqhero-icon hidden-initial" aria-hidden="true">
      <i class="ph ph-hand-coins"></i>
    </div>
    <h2 class="faqhero-title hidden-initial">
      Asesoría de Impuestos
    </h2>
  </div>
</section>