---
import '../styles/calltoaction-toolkit.css';
---

<section class="calltoaction-toolkit-container">
  <div class="calltoaction-toolkit-content">
    <h2 class="calltoaction-toolkit-title hidden-initial">
      ¿Listo para Optimizar su Estrategia Tributaria?
    </h2>
    <p class="calltoaction-toolkit-copy hidden-initial">
      Nuestro equipo de abogados tributaristas expertos está listo para ofrecerle una asesoría personalizada y proactiva. Contáctenos hoy para asegurar el cumplimiento y maximizar sus beneficios fiscales.
    </p>
    <a href="#contacto" class="calltoaction-toolkit-button hidden-initial" aria-label="Quiero asesoría personalizada">
      Quiero Asesoría Personalizada
    </a>
  </div>
</section>