---
import '../styles/hero.css';
import { Image } from 'astro:assets';
import '@fontsource-variable/nunito-sans';

---
<div class="hero">
        <div class="circle-hero hidden-initial"></div>
        <div class="rectangle-border">
          <div class="border-hero border1-hero no-mobile hidden-initial"></div>
          <div class="border-hero border2-hero no-mobile hidden-initial"></div>
        </div>
        
        <div class="info-hero">
            <Image src={import.meta.env.BASE_URL + '../../fllogocropped.webp'} alt="Logo Fusión Legal" class="logo-hero" width="100" height="100" />
            <h1>Experiencia que resuelve problemas</h1> 
            <p class="subtext-hero">Te ayudamos a solucionar todas las situaciones legales que te dan dolores de cabeza, ya sea si eres una empresa grande, o una persona que necesita orientación clara y confiable.</p> 
            <button class="cta-hero" id="enviarCorreo" onclick="window.location.href='mailto:carlos.mena@fusionlegalcr.com?subject=Consulta&body=Hola,%20quiero%20más%20información.'">Agenda una cita</button>
        </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js" is:inline></script>
<script>
  declare const anime: any;
  document.addEventListener('DOMContentLoaded', () => {
    // Timeline para coordinar las animaciones
    const timeline = anime.timeline({
      easing: 'easeOutExpo',
    });

    // Animación del círculo
    timeline.add({
      targets: '.circle-hero',
      scale: [0.5, 1],
      opacity: [0, 1],
      duration: 1200,
    })
    // Animación de los bordes
    .add({
      targets: ['.border1-hero', '.border2-hero'],
      opacity: [0, 1],
      translateX: {
        value: ['-30%', '0%'],
        duration: 800,
      },
      translateY: {
        value: ['-30%', '0%'],
        duration: 800,
      },
      delay: anime.stagger(150),
    }, '-=800')
    // Animación del logo
    .add({
      targets: '.logo-hero',
      opacity: [0, 1],
      translateY: [20, 0],
      duration: 800,
    }, '-=400')
    // Animación del título
    .add({
      targets: '.info-hero h1',
      opacity: [0, 1],
      translateY: [20, 0],
      duration: 800,
    }, '-=600')
    // Animación del subtexto
    .add({
      targets: '.subtext-hero',
      opacity: [0, 1],
      translateY: [20, 0],
      duration: 800,
    }, '-=600')
    // Animación del botón
    .add({
      targets: '.cta-hero',
      opacity: [0, 1],
      translateY: [20, 0],
      duration: 600,
    }, '-=400');
  });
</script>