---
import '../styles/navbar.css';
---
<nav class="menu-escalonado">
  <ul>
    <li class="active">
      <a href="#" data-target="#sobre-nosotros">Sobre nosotros</a>
    </li>
    <li>
      <a href="#" data-target="#nuestro-equipo">Nuestro equipo</a>
    </li>
    <li>
      <a href="#" data-target="#servicios">Servicios</a>
    </li>
    <li>
      <a href="#" data-target="#contacto">Contacto</a>
    </li>
  </ul>
</nav>